<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aylienzr</title>
    <!-- <link rel="stylesheet" href="../styles/resets.css" />
    <link rel="stylesheet" href="../styles/index.css" /> -->
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Aylienzr!</h1>
      <p class="header__subtitle">A Natural Language Processor</p>
    </header>
    <main class="main">
      <section class="aylien-form__container">
        <!-- TODO: Add heading h2 ? -->
        <form class="aylien-form">
          <input
            type="text"
            placeholder="Enter Text or URL"
            class="aylien-form__input"
            id="aylien-form__input"
          />
          <button class="aylien-form__button" id="submit-button">
            Analyze!
          </button>
        </form>
      </section>
      <div class="aylien-results">
        <!-- Emotions Section -->
        <section class="aylien-results__emotions">
          <h2 class="aylien-results__title">
            Author's emotions & perspective
          </h2>
          <div class="aylien-results__emotions__content" id="emotions">
            <h2>Here will appear the emotions results</h2>
            <!-- Dinamically populated -->
          </div>
        </section>

        <!-- Categories & Hastags Section -->
        <section class="aylien-results__categories">
          <h2 class="aylien-results__title">Categories & Hastags</h2>
          <div class="aylien-results__categories__content">
            <p id="categories"></p>
            <!-- Dinamically populated -->
          </div>
          <div class="aylien-results__categories__hashtags">
            <p id="hashtags"></p>
            <!-- Dinamically populated -->
          </div>
        </section>

        <!-- Sumary Section -->
        <section class="aylien-results__summary">
          <h2 class="aylien-results__title">Summary</h2>
          <div class="aylien-results__summary__content" id="summary-content">
            <h2>Here will appear the summary</h2>
            <!-- Dinamically populated -->
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <p class="footer__info">
        By
        <a
          href="https://github.com/carlosloureda/FEND-Natural-Language-Processing"
          target="_blank"
        >
          Carlos Loureda</a
        >, Copyright <span id="copyright-year"></span>
      </p>
    </footer>
    <!-- Error Modal -->
    <div id="errorModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-close">&times;</span>
          <h2>An error happened</h2>
        </div>
        <div class="modal-body">
          <p id="modal-body-content"></p>
        </div>
      </div>
    </div>
  </body>
</html>
