<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aylienzr</title>
    <!-- <link rel="stylesheet" href="../styles/resets.css" />
    <link rel="stylesheet" href="../styles/index.css" /> -->
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Aylienzr!</h1>
      <p class="header__subtitle">A Natural Language Processor</p>
    </header>
    <main class="main">
      <section class="aylien-form__container">
        <form class="aylien-form">
          <input
            type="text"
            placeholder="Enter Text or URL"
            class="aylien-form__input"
            id="aylien-form__input"
          />
          <button class="aylien-form__button" id="submit-button">
            Analyze!
          </button>
        </form>
      </section>
      <section class="aylien-results">
        <section class="aylien-results__emotions">
          <h2 class="aylien-results__title">
            Author's emotions & perspective
          </h2>
          <div class="aylien-results__emotions__content">
            <div class="aylien-results__emotions__content__row">
              <p div class="aylien-results__emotions__content__row__title">
                Tone
              </p>
              <p id="polarity"></p>
              <!-- <p>Negative <i class="fa fa-frown fa-lg"></i></p>
              <p>Neutral <i class="fa fa-meh fa-lg"></i></p> -->
              <!-- <p>Progress bar</p> -->
              <progress max="100" value="" id="polarity_confidence"></progress>
            </div>
            <div class="aylien-results__emotions__content__row">
              <p div class="aylien-results__emotions__content__row__title">
                Perspective
              </p>
              <p id="subjectivity"></p>
              <progress
                max="100"
                value=""
                id="subjectivity_confidence"
              ></progress>
            </div>
          </div>
        </section>
        <section class="aylien-results__categories">
          <h2 class="aylien-results__title">Categories & Hastags</h2>
          <div class="aylien-results__categories__content">
            <p id="categories">
              <!-- <span class="chip">Apple</span>
              <span class="chip">Microsoft</span>
              <span class="chip">Google</span> -->
            </p>
          </div>
          <div class="aylien-results__categories__hashtags">
            <p id="hastags">
              <!-- <span class="chip">#apple</span> -->
            </p>
          </div>
        </section>
        <section class="aylien-results__summary">
          <h2 class="aylien-results__title">Summary</h2>
          <div class="aylien-results__summary__content">
            <div id="summary"></div>
            <div>
              <h3>Author:</h3>
              <p id="author"></p>
            </div>
            <div>
              <h3>Feeds:</h3>
              <div id="feeds"></div>
            </div>
            <div class="aylien-results__summary__videos">
              <h3>Videos:</h3>
              <div id="videos">
                <!-- <iframe
                  class="video-iframe"
                  src="https://www.youtube.com/embed/XEVlyP4_11M?version=3&rel=1&fs=1&autohide=2&showsearch=0&showinfo=1&iv_load_policy=1&wmode=transparent"
                >
                </iframe> -->
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <footer class="footer">
      <p class="footer__info">
        By
        <a
          href="https://github.com/carlosloureda/FEND-Natural-Language-Processing"
          target="_blank"
        >
          Carlos Loureda</a
        >, Copyright
        <script>
          document.write(`©${new Date().getFullYear()}`);
        </script>
      </p>
    </footer>
  </body>
</html>
