$themeColor-light: pink;
$white-color: white;
$header-color: palevioletred;
$grey: grey;
$border-color: darkgrey;

body {
  background-color: $themeColor-light;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 100px;
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header__title,
.header__subtitle {
  margin: 0 auto;
  color: $white-color;
}
.header__title {
  font-size: 2em;
  font-weight: 800;
}

.main {
  background-color: $themeColor-light;
  flex: 1;
}

.footer {
  height: 50px;
  background-color: $header-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__info {
  margin: 0 auto;
  color: $white-color;
}
.footer__info a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

// Form container
.aylien-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  height: 30vh;
  padding: 15px;
}
.aylien-form {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
  min-height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.aylien-form__input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 6px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px / normal "Times New Roman", Times, serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.aylien-form__button {
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 10px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 0px 20px #9b14b3;
}
.aylien-form__button:disabled {
  background-color: grey;
  background: grey;
  cursor: not-allowed;
}

.aylien-form__button:not(:disabled):hover {
  background: linear-gradient(to bottom, #a511c0 5%, rgb(172, 60, 206) 100%);
  background-color: #a511c0;
}

.aylien-form__button:not(:disabled):active {
  position: relative;
  top: 1px;
}
.aylien-form__button.loading {
  cursor: progress;
}

// Results
// Emotions
.aylien-results__emotions,
.aylien-results__summary {
  background-color: $themeColor-light;
  border-bottom: 2px solid $border-color;
  border-top: 2px solid $border-color;
}

.aylien-results__title {
  font-size: 1em;
  font-weight: 600;
  padding-left: 3%;
  padding-top: 10px;
  padding-bottom: 25px;
}
.aylien-results__emotions__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aylien-results__emotions__content__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  padding-bottom: 15px;
  line-height: 25px;
}
.aylien-results__emotions__content__row > * {
  flex: 1;
}

.fa-smile {
  color: yellow;
}
.fa-frown {
  color: red;
}
.fa-meh {
  color: grey;
}

progress {
  text-align: center;
  height: 25px;
  width: 200px;
}

progress:before {
  content: attr(value) "%";
  position: relative;
}

//  Categories
.chip {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-top: 5px;
}
.aylien-results__categories__content,
.aylien-results__categories__hashtags {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10%;
}
.aylien-results__summary__content {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  & h3 {
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 25px;
  }
  & div {
    padding-bottom: 25px;
  }
}

.video-iframe {
  width: 385px;
  height: 289px;
}

.aylien-results__summary__videos {
  width: 100%;
}

@media (max-width: 370px) {
  .aylien-results__categories__content,
  .aylien-results__categories__hashtags {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .aylien-form__container {
    height: 100%;
    padding: 0px;
  }
  .aylien-form__button {
    margin-top: 15px;
  }
  .aylien-form__input {
    width: 70%;
    font-size: 12px;
  }
  .video-iframe {
    width: 240px;
    height: 180px;
  }
}

@media (max-width: 800px) {
  .aylien-form {
    width: 100%;
  }
}
